PORT=5001
DB_HOST=localhost
DB_PORT=3306
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=cms_db
JWT_SECRET=your_jwt_secret_key



SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USER=quality.pondy@inel.co.in
SMTP_PASS=GGGGalllaxxy@678
SMTP_FROM="Change Management System" <quality.pondy@inel.co.in>
APP_URL=http://192.168.0.169:5173/
